:root {
  --background: #333333;
  --background-sec: #313131;
  --background-main: #222222;
  --font-color: #eeeeee;
  --font-sec: #aaaaaa;
  --border: #111111;
  --shadow-inset: rgba(0, 0, 0, 0.3);
  --overlay: rgba(0, 0, 0, 0.5);
  --btn-blue: #19f;
  --btn-red: #a35;
  --modal-color: #888;
  --white: #eee;
  --black: #222222;
}

body.dark {
  --background: #dddddd;
  --font-color: #222222;
  --background-sec: #dfdfdf;
  --background-main: #eeeeee;
  --font-sec: #999999;
  --border: #bbbbbb;
  --modal-color: #bbb;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*1 rem 10px*/
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
  color: var(--font-color);
  line-height: 2;
  font-family: 'Manrope', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  overflow-x: hidden;
  transition: 0.5s ease all;
}

h2 {
  font-size: 1.7rem;
}

p {
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  height: 6rem;
}
.navbar .code-container {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid blue; */
  width: 30%;
  min-width: 30rem;
  align-items: center;
  height: 4rem;
}
.navbar .code-container a {
  height: 100%;
}

.navbar .code-container .fa-brands {
  font-size: 3rem;
  color: var(--font-sec);
  line-height: 4rem;
}

.btn {
  color: var(--white);
  width: 9rem;
  border: none;
  outline: none;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: inset 0px 0px 50px -20px var(--shadow-inset);
  font-size: 1.4rem;
  padding: 10px 0;
}

.dark-mode {
  all: unset;
  font-size: 3rem;
  cursor: pointer;
}

.navbar .nav-button {
  background-color: var(--btn-blue);
  width: 13rem;
}

.container {
  display: flex;
  /* flex-direction: row-reverse; */
  height: calc(100vh - 12rem);
}

aside {
  background-color: var(--background-sec);
  width: 50%;
  padding: 1.5rem;
  overflow: auto;
}

/* box shadows */

button {
  cursor: pointer;
}

.customize .header-customize {
  display: flex;
  justify-content: space-between;
}

.customize .header-customize button {
  background-color: var(--btn-blue);
}

.container .customize .set-features button {
  background-color: var(--btn-red);
}

.customize .set-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0;
}

.customize .set-features .checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1.5rem;
}

/* .checkbox [type="checkbox"] {
  appearance: none;
  border-width: 1px;
  display: inline-block;
  border-radius: 3px;
}

[type="checkbox"]:checked {
  border-color: transparent;
  border-radius: 5px;
  background-color: #19f;
  background-image: url(../src/assets/checked.svg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
} */

.property-description {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.property-description .input {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.property-description input[type='text'] {
  width: 4rem;
  height: 3rem;
}

.property-range input {
  width: 100%;
}

.properties .color {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.properties .color .property-range input {
  width: 4rem;
  height: 3rem;
  border: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-main);
  width: 100%;
}

.square {
  width: 300px;
  height: 300px;
  background-color: var(--font-color);
  border-radius: 20px;
}

/* box dimensions */

.box-dimensions {
  background-color: var(--background-sec);
  width: 50%;
}

.box-dimensions .background-color,
.box-dimensions .border-color {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  align-items: center;
}

.box-dimensions .header-dimensions {
  margin-bottom: 2rem;
}

.modal {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  transition: 1s ease all;

  /* display: none; */
}

.modal-content {
  width: 500px;
  height: 300px;
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: var(--black);
  transition: 1s ease all;
  border-radius: 5px;
}

.modal-content .closemodal {
  position: absolute;
  top: -8%;
  right: 5px;
  font-size: 40px;
  cursor: pointer;
  color: var(--font-sec);
  transition: 1s ease all;
}

.modal-content h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 25%;
  font-size: 25px;
  width: 100%;
  text-align: center;
}

.modal-content .display {
  width: 80%;
  height: 20%;
  border: 1px solid var(--font-sec);
  background-color: var(--white);
  color: var(--black);
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 25%;
  left: 50%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--overlay);
  transition: 1s ease all;

  backdrop-filter: blur(5px);
}

.hidden {
  display: none;
}

/* footer */

.footer {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  aside,
  .box-dimensions {
    width: 100%;
  }

  .customize {
    min-height: 100px;
  }

  .box-dimensions {
    overflow: auto;
    /* min-height: 400px; */
  }
  .output {
    width: 95%;
    margin: 0 auto;
  }

  .output .square-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}
